<a href="https://colab.research.google.com/github/bcdanl/210-class-notes/blob/main/danl-210-lec-06-2024-0208.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
---
title: "Python Basics"
author: "Byeong-Hak Choe"
date: "2024-02-07"
categories: [python]
image: "py-basic.png"
---

# Python Basic

In [1]:
# Here we assign the integer value 5 to the variable x.
x = 5

# Now we can use the variable x in the next line.
y = x + 12
y

17

In [3]:
list_example = [10, 1.23, "like this", True, None]
print(list_example)
type(list_example)

[10, 1.23, 'like this', True, None]

list

In [4]:
vector = ['a', 'b']

In [6]:
vector[0]

'a'

In [7]:
vector[1]

'b'

In [9]:
set_ex = {'a', 'b'}  # set
dict_ex = {'first_letter': 'a', 'second_letter': 'b'}  # dictionary

In [10]:
type(set_ex)

set

In [11]:
type(dict_ex)

dict

In [12]:
num_tup = (1, 2, 3)
sum(num_tup)

6

In [13]:
string_one = "This is an example "
string_two = "of string concatenation"
string_full = string_one + string_two
print(string_full)

This is an example of string concatenation

In [14]:
list_one = ["apples", "oranges"]
list_two = ["pears", "satsumas"]
list_full = list_one + list_two
print(list_full)

['apples', 'oranges', 'pears', 'satsumas']

In [15]:
string = "apples, "
print(string * 3)

apples, apples, apples,

In [16]:
2**5 / (7 * (4-2**3) )

-1.1428571428571428

In [17]:
10 == 20

False

In [18]:

10 == '10'

False

In [19]:
10 == 10

True

In [20]:
boolean_condition1 = 10 == 20
print(boolean_condition1)

False

In [21]:

boolean_condition2 = 10 == '10'
print(boolean_condition2)

False

In [22]:
not (not True)

True

Below is testing whether integer 20 is equal to string 20

In [23]:
20 == '20'

False

In [24]:
x = 4.0
y = .5
z = 3*y - x

x < y or 3*y < x

True

In [25]:
x < y

False

In [26]:
3*y < x

True

In [27]:
False or True

True

In [28]:
name = "Geneseo"
score = 99

if name == "Geneseo" and score > 90:
    print("Geneseo, you achieved a high score.")

Geneseo, you achieved a high score.

In [29]:
if name == "Geneseo" or score > 90:
    print("You could be called Geneseo or have a high score")

You could be called Geneseo or have a high score

In [30]:
# below name != "Geneseo" evaluates to False so
if name != "Geneseo" and score > 90:
    print("You are not called Geneseo and you have a high score")

In [31]:
name_list = ["Lovelace", "Smith", "Hopper", "Babbage"]

print("Lovelace" in name_list)

True

In [32]:
print("Bob" in name_list)

False

Python is case-sensitive

In [33]:
print("lovelace" in name_list)

False

In [34]:
"a" in "Anyone"

False

In [35]:
"a" in "Sun Devil Arena"

True

In [36]:
score = 98

if score == 100:
    print("Top marks!")
elif score > 90 and score < 100:
    print("High score!")
elif score > 10 and score <= 90:
    pass
else:
    print("Better luck next time.")

High score!

what pass does in python?

In [37]:
score = 90

if score == 100:
    print("Top marks!")
elif score > 90 and score < 100:
    print("High score!")
elif score > 10 and score <= 90:
    pass
else:
    print("Better luck next time.")

In [40]:
orig_number = 4.85  # 4.39898498
type(orig_number)

float

In [42]:
mod_number = int(orig_number)
mod_number

4

In [43]:
a = "a"
int(a)

ValueError: invalid literal for int() with base 10: 'a'

In [44]:
str(a)

'a'

In [ ]:
tuple_ex = (2,3,4)
list_ex = [2,3,4]